.img {
	height: auto;
	width: auto;
}

.cards {
	display: flex;
	flex-direction: column;
	padding: 0;
}

.text {
	text-align: center;
	font-weight: bold;
}

.rows {
	margin: 0 auto;
	width: 100%;
	padding: 0 1% 0 3%;
}

.label {
	padding-top: 3%;
	font-size: 45px;
}

.button {
	margin-left: 45%;
}

.header {
	width: 100%;
}

#header-image {
	width: 100%;
}

.header-text {
	text-align: center;
	margin-top: -20%;
	color: darkblue;
}

.app-info {
	margin-top: 20%;
	text-align: center;
}

.info-title {
	margin-bottom: 2%;
}

#info-text {
	font-size: 20px;
}
